@import url('https://fonts.cdnfonts.com/css/gabriola');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    background-color: rgb(234, 221, 202);
}

#outer-container, #outer-header-container{
    width: 1440px;
    margin: 0 auto;
}
  #home {
     height: 500px;
     background: url("../images/ancient-greece.jpg") center 11% / cover no-repeat;
     color:rgb(240,230,140);
  }

.text-right {
    text-align: right;
}
.bottom-space {
    padding-bottom: 20px;
}

#parthenon, #acropolis {
    width: 50%;
}

.info-container-img {
    width: 400px;
}

#video {
    float: none;
}

#museum {
    min-height: 250px;
}

#panathenaic-stadium-info {
    margin-top: 15px;
}

img {
    border-radius: 10px;
}

#video-container>iframe {
    width: 800px;
    height: 450px;
}

.page-header {
    height: 50vh;
    background: center 75% / cover no-repeat;
    font-family: Arial-Black, sans-serif;
}

.header-text {
    padding-top: 230px;
    padding-right: 15%;
    float: right;
}

nav {
    padding: 1rem;
}
nav > a {
    text-decoration: none;
    color: beige;
    margin: 1rem;
    font-weight: bold;
    font-family: Gabriola, sans-serif;
    font-size: 25px;
}


  .black-background {
    background-color: #000000;
}

.float-left {
    float: left;
}

.one-third-width-column {
    width: 33.33%;
    display: inline-block;
}

.text-center {
    text-align: center;
}

.float-right {
    float: right;
}

.two-thirds-width-column {
    width: 66.66%;
    display: inline-block;
}

#contact {
    margin-bottom: 50px;
    font-family: Gabriola, sans-serif;
    font-size: 25px;
}

.contact-boxes-container {
    width: 66%;
    margin: 0 auto;
}

.contact-box-left {
    width: 250px;
    margin-top: -20px;
    float: left;
}

.contact-box-right {
    width: 250px;
    text-align: right;
    margin-top: -20px;
    float: right;
}

.spacer {
    clear: both;
}

.contact-box-center {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}

footer {
    background-color: #814141;
    padding: 1em;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 6;
    display: block;
    font-size: 15px;

}

footer > span {
    color: silver;
}

footer > a {
    color: beige;
    text-decoration: none;
    padding: 0 15px;
    font-size: 1rem;
}

footer > p {
    color: silver;
}

fieldset {
    border: none;
    margin-top: 20px;
}

.half-width-column {
    width: 50%;
    display: inline-block;
}

.width-100pc {
    width: 100%;
}

.frame-border {
    border: none;
}

@keyframes image-move {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.move:hover {
    animation: image-move 0.4s infinite;
}
.text-title {
    height:33px;
}
.text-width {
    width: 95%;
}

.signup-form {
    margin: 0 auto;
    color: rgb(236, 231, 231);
    background-color: rgba(60, 58, 58, 0.6);
    width: 500px;
    padding: 30px;
    font-size: 1.5rem;
}

.signup-form>input{
    font-size: 1.5rem;
}

#sign-up {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.signup-form h2 {
    color: #d7d4d4;
    margin-bottom: 20px;
}

@media screen  and (max-width: 1440px){
    .header-text {
        padding: 100px 0 0 0;
        margin: 0 auto;
    }
    #outer-header-container{
        width: 100%;
        margin: 0 auto;
    }
    #outer-container {
        width: 90%;
    }
    #info-container>div {
        width: 100%;
    }
    .info-container-img {
        width: 100%;
    }
    #video-container>iframe {
        width: 100%;
        height: 50vw;
    }

    .one-third-width-column, .two-thirds-width-column {
        width: 100%;
        display: block;
    }
    .text-right {
        text-align: center;
    }

    #museum img {
        width:100%
    }
    .float-left, .float-right {
        float: none;
        clear: both;
    }
    #contact{
        margin: 0 auto;
    }
    .contact-boxes-container {
        width: 100%;
    }
    .contact-box-left, .contact-box-center, .contact-box-right {
        width: 100%;
        float: none;
        margin: 0 auto;
    }
    .contact-box-left > table {
        margin: 0 auto;
    }
    #outer-header-container{
        width: 100%;
        margin: 0 auto;
    }
    .signup-form {
        width:90%;
    }
}