
  #home {
     height: 500px;
     background: url("../images/ancient-greece.jpg") center 11% / cover no-repeat;
     color:gold;
  }

  #parthenon {
    width: 50%;
  }

  #acropolis {
  width: 50%;
  }

  #video {
  float: none;
  }

 #museum {
    min-height: 250px;
 }

#panathenaic-stadium-info {
height:140px;
margin-top: 15px;
}
#info-container {
height:470px;
}

img {
border-radius: 10px;
}


  .page-header {
      height: 50vh;
    background: center 75% / cover no-repeat;
    font-family: Arial-Black;
  }


  .header-text{
      padding-top:230px;
      padding-right: 15%;
      float: right;
  }

  nav {
  padding:1rem;
  }


  nav > a {
      text-decoration: none;
      color: beige;
      margin: 1rem;
      font-weight: bold;
      font-family: Gabriola;
      font-size: 25px;
  }

  .black-background {
    background-color: #000000;
  }
 

  body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	background-color: rgb(234, 221, 202);
  }

  .float-left {
      float:left;
  }
  .one-third-width-column {
      width: 33.33%;
      display: inline-block;
  }
  .text-center { 
      text-align: center;
 }

  .float-right {
      float: right;
 }
  .two-thirds-width-column {
      width: 66.66%;
      display: inline-block;
 }
  #contact {
    margin-bottom: 50px;
    font-family: Gabriola;
    font-size: 25px;
}

.contact-boxes-container {
    width: 66%;
    margin: 0 auto;
}

.contact-box-left {
    width: 250px;
    margin-top: -20px;
	float: left;
}

.contact-box-right {
    width: 250px;
    text-align: right;
    margin-top: -20px;
	float: right;
}

.spacer {
    clear: both;
}

.contact-box-center {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}


 footer {
    background-color: #814141;
    padding: 1em;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom:0;
    right:0;
    z-index: 6;
    display:block;
    font-size: 15px;
 
}
footer > span {
	color: silver;
}

footer > a {
	color: beige;
	text-decoration: none;
	padding: 0 15px;
	font-size: 1rem;
}

footer > p {
	color: silver;
}
fieldset {
	border: none;
	margin-top: 20px;
}
.half-width-column {
      width: 50%;
      display: inline-block;
}

.width-100pc {
width: 100%;
}

.frame-border {
border: none;
}
@keyframes image-move {
    0%   { transform: rotate(0deg);}
    25%  { transform: rotate(5deg);}
    50%  { transform: rotate(0deg);}
    75%  { transform: rotate(-5deg);}
    100% { transform: rotate(0deg);}
}
.move:hover{
    animation: image-move 0.4s infinite;
}

.text-width {

width: 95%;
}

